<div class="location-nav"> 
   <div style="display: inline">您的位置： </div><%= render_breadcrumbs %> 
</div>
<div class="banner">
  <%= image_tag("p_lxwm.jpg") %>
</div>
<div style="display: inline-block">
  <div class="company_info" style="display: inline-block">
    <h3><%= I18n.t("company_name")%></h3>
    <li class='address'>地　址:<%= I18n.t("company_address")%></li>
    <li>联系人:胡先生(18662563991)、谢先生(18551126688)</li>
    <li>电　话:0512-63334786</li>
    <li>邮　箱:354529158@qq.com</li>
  </div>
  <div class="contact_us" style="display: inline-block;">
    <%= image_tag("contact_us.gif") %>
  </div>
</div>