<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= I18n.t('company_name')%></title>
  <meta name="robots"   content="all" />
  <meta name="baidu-site-verification" content="DR2pzXA6mW" />
  <meta name="site_url" content="www.kaitaiwang.com" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="<%= I18n.t('company_name')%>, 苏州市开泰再生资源，吴江市开泰再生资源, 再生资源" />
  <meta name="description" content="苏州开泰再生资源有限公司坐落于苏州市吴江区运东开发区，是一家绿色环保的回收再生企业。我们凭着雄厚的经济实力和项目多元化的发展，获得了众多企业的信赖与合作．并在业界内树立了良好的口碑及信誉！" />
  <meta name="title" content="<%= I18n.t('company_name')%>" />
  <meta name="baidu_union_verify" content="0e27b2b754c96c8c31c618d1c3bdbe87">
  <%= stylesheet_link_tag :style %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render '/layouts/logo_part' %>
  <div class="nav">
    <%= header_menu %>
  </div>
  <div class="container">
    <div class="container-n">
      <div class="container-m">
        <div class="container-t">
          <div class="container-inner">
            <%= yield %>
          </div>
          <div class="clear"></div>
          <%= render '/layouts/footer' %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2d2a68011374ddb66bda4df9dc9cfd4a' type='text/javascript'%3E%3C/script%3E"));
</script>